# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives: List popular languages for Data Science</b>
- Python
- SQL
- R

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

| Data Science Tools |
|---|
| Visual Studio Code | 
| Anaconda | 
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200 / 60

3.3333333333333335

## <b>Author</b>
Don Kang